# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Publish

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: ./global.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: pack
      run: dotnet pack --output ./artifacts -p:version=${GITHUB_REF_NAME}
    - name: publish
      run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
    - name: publish-github
      run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.PACKAGES_PAT }} --source https://nuget.pkg.github.com/nforgeio/index.json --skip-duplicate
  changelog:
    name: Generate changelog
    runs-on: ubuntu-latest
    needs: build
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v3
        id: git-cliff
        if: "!github.event.release.prerelease"
        with:
          config: cliff.toml
          args: -vv --latest --strip header
        env:
          OUTPUT: CHANGES.md

      - name: Generate a prerelease changelog
        uses: orhun/git-cliff-action@v3
        id: git-cliff-prerelease
        if: "github.event.release.prerelease"
        with:
          config: cliff.toml
          args: -vv --latest --unreleased --strip header
        env:
          OUTPUT: CHANGES.md

      - name: Upload the changelog
        uses: svenstaro/upload-release-action@v2
        if: "!github.event.release.prerelease"
        with:
          file: binary_release.zip
          repo_token: ${{ secrets.RELEASES_TOKEN }}
          tag: ${{ github.ref }}
          body: ${{ steps.git-cliff.outputs.content }}

      - name: Upload the prerelease changelog
        uses: svenstaro/upload-release-action@v2
        if: "github.event.release.prerelease"
        with:
          file: binary_release.zip
          repo_token: ${{ secrets.RELEASES_TOKEN }}
          tag: ${{ github.ref }}
          body: ${{ steps.git-cliff-prerelease.outputs.content }}
